<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
    <title>GENERAL DETAILS</title>
    <style>

      .button {
        background-color: orange;
        border: none;
        color: white;
        padding: 20px 550px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }


    </style>
  </head>
  <body>
   <fieldset>
  <legend> </legend>

  <h1 size="20" align="CENTER">WELCOME TO GENERAL DETAILS</h1>
     <div class="GENERAL DETAILS">
         <form id="GENERAL DETAILS" method="post"
               action="..php">
               <a class="button" href="/fees details" type="hidden">FEES DETAILS</a>
               <a class="button" href="/transport details" type="hidden">TRANSPORT DETAILS</a>
               <a class="button" href="/feedback" type="hidden">FEEDBACK FORM</a>
               <a class="button" href="/contactus" type="hidden">REQUEST / CONTACT US</a>

         </form>
     </div>
     <a  href="/studportal" type="hidden">Go to previous page</a>
        </fieldset>
  </body>
</html>