<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <div class="container">
        <form>
            <img src={{url_for('static', filename = 'images/user-2.png')}} > <br> <br>
            <label>ID NO:</label>
            <br> <br>
            <label>NAME:</label>
            <br> <br>
            <label>AGE:</label>
            <br> <br>
            <label>DEPARTMENT Name:</label>
            <br> <br>
            <label>ROLE:</label>
            <br> <br>
    
        </form>
    </div>
    <style>
        .container{
            width: 20%;
            height: 450px;
            position: relative;
            left: 40%;
        }

        body{
            background-color: blueviolet;
        }
    </style>
</body>
</html>