<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STUDENT LOGIN</title>
    <style>

    body{
        text-align: center;
    }


.reg{
        width: 100%;
        text-align: center;
        margin: 2;
        padding: 0;
     }

     .reg a{
         background: tomato;
         display: block;
         width: 220px;
         height: 19px;
         margin: 0 auto;
         color: #fff;
         text-decoration: none;

      }
      ::placeholder {
  color: brown;
  opacity: 1;
}

    </style>
</head>
<body>
<h1 style="color: gold;">WELCOME TO STUDENT PORTAL</h1>
     <div class="Student login">
         <form id="Student login" method="post"
               action="..php">

             <fieldset>
  <legend> </legend>

               STUDENT NAME:
               <!-- <input type="text" size="100" name="Student Name" placeholder="
                                                                  Student Name" id ="Student name" > -->
                                                                  <br><br>

               REG / ROLL_NO :
                <!-- <input type="text" size="100" name="Reg_No" placeholder="
                                                                       Reg_No" id="Reg_No"> -->
                                                                       <br><br>

                STUDENT_AGE :
                <!-- <input type="text" size="100" name="Student_Age" placeholder="
                                                                    Student_Age" id="Student_Age"> -->
                                                                    <br><br>

                 SEX / GENDER :
                <!-- <input type="text" size="100" name="Gender"   placeholder="
                                                      Male / Female or Other Genders" id="Gender"> -->
                                                      <br><br>

                BRANCH_NAME:
                <!-- <input type="text" size="100" name="Branch Name" placeholder="
                                                                   Branch Name" id="Branch Name"> -->
                                                                   <br><br>

                CUR_SEMESTER:
                <!-- <input type="text" size="100" name="Semester" placeholder="
                                                               Current_Semester" id="Semester"> -->
                                                               <br><br>

                BATCH_YEAR  :
                <!-- <input type="text" size="100" name=" Batch Year" placeholder="
                                                                     Batch Year" id="Batch Year"> -->
                                                                     <br><br>
                 </fieldset> 

            <p class="reg">
                <a class="btn1" href="/studportal" type="hidden">For More Info</a>

</p>

         </form>
     </div>

</body>
</html>

