<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
</head>
<body>
    <form>
        <h1>Login</h1>
        <div>
            <label>ID NO</label>
            <input type="text"  placeholder=""><br>
            <label>PASSWORD</label>
            <input type="password" placeholder=""><br>
            <a  href="/profpage" type="hidden">Staff profile</a>
        </div>
    </form>
</body>
</html>